@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We are providing this site as an interface with future planned ARCGIS features.</a>.</p>
</div>
